:root {
    --primary-color: #4CAF50;
    --secondary-color: #FF0000;
    --text-color: #333;
    --bg-gradient: linear-gradient(180deg, #FF7043, #FFC680, #FFEC8B, #FFD9E2 90%, #FFFFFF 100%);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: var(--bg-gradient);
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;
    color: var(--text-color);
}

h2 {
    color: var(--secondary-color);
    font-size: 1.5em;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

h3 {
    font-size: 1.3em;
    color: var(--primary-color);
    font-weight: bold;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    color: #fff;
}

.logo-container {
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
}

.header-text {
    text-align: left;
    margin-left: 20px;
}

.header-text h1 {
    margin: 0;
    font-size: 2em;
    color: var(--primary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header-text p {
    margin: 5px 0 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.nav-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a.active {
    background-color: var(--primary-color);
    color: #fff;
}

.nav-links a.active:hover,
.nav-links a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.main-content {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.main-text {
    max-width: 600px;
    text-align: left;
}

.text-center {
    text-align: center;
}

.quote {
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: var(--secondary-color);
    color: white;
    transform: scale(1.1);
}

.highlight {
    font-weight: bold;
    color: #000;
}

.highlight-green {
    font-weight: bold;
    color: var(--primary-color);
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #fff;
    margin-top: 20px;
}

/* Media Queries pro mobilní zobrazení */

@media only screen and (max-width: 600px) {
    .nav-links {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        /* padding: 0 10px; */
    }
}

@media only screen and (max-width: 600px) {
    .main-text {
        width: 100%;
        max-width: 100%;
        padding: 0 10px;
    }
}


@media (max-width: 600px) {
    .main-text {
        max-width: 100%;
        padding: 0 10px;
        /* případně nastavit menší padding */
    }
}